@import '@/shared/styles/mixins';

.TheSideBar {
  width: 287px;
  padding: 23px 24px 0 23px;
  flex-shrink: 0;
  overflow: auto;
  height: calc(100vh - var(--header-height));
  
  @include styled-scrollbar();
    
  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
  }

  &__routes {
    margin-top: 23px;
  }
}
