@mixin styled-scrollbar() {
  /* Работает в Firefox */
  & {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) transparent;
  }
 
  /* Работает в Chrome, Edge и Safari */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 6px;
  }
}
